@font-face {
  font-family: "Post No Bills Colombo";
  src: url(../fonts/postnobillscolombo-regular.woff2);
}
@font-face {
  font-family: "Post No Bills Colombo";
  src: url(../fonts/postnobillscolombo-light.woff2);
}
@font-face {
  font-family: "Post No Bills Colombo";
  src: url(../fonts//postnobillscolombo-medium.woff2);
}
@font-face {
  font-family: "Post No Bills Colombo";
  src: url(../fonts/postnobillscolombo-semibold.woff2);
}
@font-face {
  font-family: "SeoulHangang";
  src: url(../fonts/AnyConv.com__SeoulHangang-Medium.woff2);
}
@font-face {
  font-family: "SeoulHangang";
  src: url(../fonts/SeoulHangang-Bold.woff2);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

html {
  font-family: "Post No Bills Colombo", serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

body {
  -webkit-animation: bugfix infinite 1s;
  margin: 0;
  padding: 0;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 124rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

.button {
  width: 28.2rem;
  padding: 1.2rem 5rem 1rem;
  text-align: center;
  background-color: #09035D;
  box-shadow: 0.4rem 0.4rem 2rem rgba(9, 3, 93, 0.1);
  border-radius: 0.4rem;
  font-size: 1.6rem;
  color: #fff;
  transition-duration: 500ms;
}
.button:hover {
  background-color: #7871DE;
}
.button:active {
  background-color: #030848;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.header {
  padding-top: 4rem;
  background-color: #EDEBFC;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo img {
  max-width: 11.2rem;
  max-height: 3.2rem;
}
.header a {
  display: block;
}
.header__list {
  display: flex;
  gap: 2rem;
}
.header__list a {
  color: #09035D;
  font-size: 1.4rem;
}
.header__list a:hover {
  color: #7871DE;
}

.social {
  display: flex;
  gap: 0.4rem;
}
.social a {
  width: 2.4rem;
  height: 2.4rem;
  display: block;
}
.social__insta {
  background: url(../image/insta.webp) center no-repeat;
}
.social__insta:hover {
  background: url(../image/insta-hover.webp) center no-repeat;
}
.social__fb {
  background: url(../image/fb.webp) center no-repeat;
}
.social__fb:hover {
  background: url(../image/fb-hover.webp) center no-repeat;
}
.social__vk {
  background: url(../image/vk.webp) center no-repeat;
}
.social__vk:hover {
  background: url(../image/vk-hover.webp) center no-repeat;
}
.social__teleg {
  background: url(../image/teleg.webp) center no-repeat;
}
.social__teleg:hover {
  background: url(../image/teleg-hover.webp) center no-repeat;
}

.header__main {
  padding-top: 4rem;
  padding-bottom: 8rem;
  display: flex;
  justify-content: space-between;
}
.header__main-desc {
  max-width: 52rem;
  background-color: #fff;
  padding: 7.5rem 3rem 7.5rem 10.4rem;
  border-radius: 20% 0 0;
}
.header__main--img {
  max-width: 70rem;
}
.header__main--title {
  font-family: "SeoulHangang";
  font-size: 4.2rem;
  line-height: 1.02;
  color: #09035D;
}
.header__main--title span {
  color: #7871DE;
}
.header__main--text {
  padding-right: 6rem;
  margin-top: 2rem;
  font-size: 1.8rem;
  color: #7871DE;
}
.header__main--button {
  margin-top: 3rem;
}

.argument {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: 9rem;
  margin-bottom: 8rem;
}
.argument__desc {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.argument__desc--item {
  max-width: 19rem;
}
.argument__desc--title {
  font-family: "SeoulHangang";
  font-size: 3.6rem;
  line-height: 1;
  text-align: center;
  color: #09035D;
}
.argument__desc--text {
  margin-top: 1rem;
  font-size: 1.8rem;
  text-align: center;
  color: #0F0F10;
}
.argument-main {
  margin-top: 8rem;
}
.argument-main--title {
  font-family: "SeoulHangang";
  font-size: 3.6rem;
  line-height: 1;
  color: #09035D;
}
.argument-main__items {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.argument-main__item {
  width: 28.2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem 2rem 2.8rem 2rem;
  box-shadow: -0.4rem -0.4rem 2rem rgba(120, 113, 222, 0.1), 0.4rem 0.4rem 2rem rgba(120, 113, 222, 0.1);
  border-radius: 0.4rem;
}
.argument-main__item--img:hover {
  filter: brightness(10%);
}
.argument-main__item--text {
  font-size: 18px;
  display: flex;
  color: #0F0F10;
}

.kinolog {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #7871DE;
}
.kinolog__title {
  font-family: "SeoulHangang";
  font-size: 3.6rem;
  line-height: 1;
  color: #FFFFFF;
}
.kinolog__desc {
  margin-top: 4rem;
  margin-left: 10rem;
  display: flex;
}
.kinolog__item--title {
  font-size: 2.4rem;
  color: #9FDB3D;
}
.kinolog__item--text {
  font-size: 1.8rem;
  color: #FFFFFF;
}
.kinolog__item--left {
  max-width: 59.4rem;
  padding-right: 2rem;
}
.kinolog__item--right {
  max-width: 38.6rem;
  padding-right: 2rem;
}

.why {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.why__title {
  font-family: "SeoulHangang";
  font-size: 3.6rem;
  line-height: 1;
  color: #09035D;
}
.why__items {
  margin-top: 7rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.why__item {
  max-width: 38.6rem;
  min-height: 40rem;
  padding: 3rem;
  background-color: #FFFFFF;
  box-shadow: -0.4rem -0.4rem 2rem rgba(120, 113, 222, 0.1), 0.4rem 0.4rem 2rem rgba(120, 113, 222, 0.1);
  border-radius: 0.4rem;
  transition-duration: 500ms;
}
.why__item--title {
  font-size: 2.4rem;
  color: #09035D;
}
.why__item span {
  display: block;
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.6rem;
  color: #7871DE;
}
.why__item p {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1.6rem;
  color: #0F0F10;
}
.why__item--right span {
  display: inline;
  margin-top: 0;
}
.why__item:hover {
  transform: scale(1.1);
}

.stage {
  margin-top: 8rem;
  margin-bottom: 8rem;
  background-image: url(../image/line.webp);
  background-repeat: no-repeat;
  background-position-y: 30rem;
  background-size: contain;
}
.stage__title {
  font-family: "SeoulHangang";
  font-size: 3.6rem;
  line-height: 1;
  color: #09035D;
}
.stage__items {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  gap: 12.4rem 5rem;
  flex-wrap: wrap;
}
.stage__item {
  max-width: 28.2rem;
}
.stage__item:nth-child(even) {
  padding-top: 5rem;
}
.stage__item span {
  display: block;
  font-family: "SeoulHangang CBL";
  font-size: 6rem;
  line-height: 1;
  color: #9FDB3D;
}
.stage__item--text {
  margin-top: 3rem;
  font-weight: 600;
  font-size: 1.6rem;
  color: #0F0F10;
}