@font-face {
  font-family: "Post No Bills Colombo";
  src: url(../fonts/postnobillscolombo-regular.woff2);
}
@font-face {
  font-family: "Post No Bills Colombo";
  src: url(../fonts/postnobillscolombo-light.woff2);
}
@font-face {
  font-family: "Post No Bills Colombo";
  src: url(../fonts//postnobillscolombo-medium.woff2);
}
@font-face {
  font-family: "Post No Bills Colombo";
  src: url(../fonts/postnobillscolombo-semibold.woff2);
}
@font-face {
  font-family: "SeoulHangang";
  src: url(../fonts/AnyConv.com__SeoulHangang-Medium.woff2);
}
@font-face {
  font-family: "SeoulHangang";
  src: url(../fonts/SeoulHangang-Bold.woff2);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

html {
  font-family: "Post No Bills Colombo", serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

body {
  -webkit-animation: bugfix infinite 1s;
  margin: 0;
  padding: 0;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 124rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

.button {
  width: 28.2rem;
  padding: 1.2rem 5rem 1rem;
  text-align: center;
  background-color: #09035D;
  box-shadow: 0.4rem 0.4rem 2rem rgba(9, 3, 93, 0.1);
  border-radius: 0.4rem;
  font-size: 1.6rem;
  cursor: pointer;
  color: #fff;
  transition-duration: 500ms;
}
.button:hover {
  background-color: #7871DE;
}
.button:active {
  background-color: #030848;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.cards {
  margin-top: 7rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.card {
  max-width: 44rem;
  max-height: 40rem;
  padding: 3rem;
  background-color: #FFFFFF;
  box-shadow: -0.4rem -0.4rem 2rem rgba(120, 113, 222, 0.1), 0.4rem 0.4rem 2rem rgba(120, 113, 222, 0.1);
  border-radius: 0.4rem;
  transition-duration: 500ms;
}
.card:hover {
  transform: scale(1.1);
}

.title {
  font-family: "SeoulHangang";
  font-size: 3.6rem;
  line-height: 1;
  color: #09035D;
}

.header {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #EDEBFC;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo img {
  max-width: 11.2rem;
  max-height: 3.2rem;
}
.header a {
  display: block;
}
.header__list {
  display: flex;
  gap: 2rem;
}
.header__list a {
  color: #09035D;
  font-size: 1.4rem;
}
.header__list a:hover {
  color: #7871DE;
}

.social {
  display: flex;
  gap: 0.4rem;
}
.social a {
  width: 2.4rem;
  height: 2.4rem;
  display: block;
}
.social__insta {
  background: url(../image/insta.webp) center no-repeat;
}
.social__insta:hover {
  background: url(../image/insta-hover.webp) center no-repeat;
}
.social__fb {
  background: url(../image/fb.webp) center no-repeat;
}
.social__fb:hover {
  background: url(../image/fb-hover.webp) center no-repeat;
}
.social__vk {
  background: url(../image/vk.webp) center no-repeat;
}
.social__vk:hover {
  background: url(../image/vk-hover.webp) center no-repeat;
}
.social__teleg {
  background: url(../image/teleg.webp) center no-repeat;
}
.social__teleg:hover {
  background: url(../image/teleg-hover.webp) center no-repeat;
}

.header__main {
  padding-top: 4rem;
  padding-bottom: 8rem;
  display: flex;
  justify-content: space-between;
}
.header__main-desc {
  max-width: 52rem;
  background-color: #fff;
  padding: 7.5rem 3rem 7.5rem 10.4rem;
  border-radius: 20% 0 0;
}
.header__main--img {
  max-width: 70rem;
}
.header__main--title {
  font-family: "SeoulHangang";
  font-size: 4.2rem;
  line-height: 1.02;
  color: #09035D;
}
.header__main--title span {
  color: #7871DE;
}
.header__main--text {
  padding-right: 6rem;
  margin-top: 2rem;
  font-size: 1.8rem;
  color: #7871DE;
}
.header__main--button {
  margin-top: 3rem;
}

.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #EDEBFC;
}
.footer__copyright {
  font-size: 1.4rem;
  color: #09035D;
}

.hamburger__menu {
  display: none;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
  background-color: #fff;
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: #fff;
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn span,
.menu__btn span::before,
.menu__btn span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #0f0f10;
  transition-duration: 300ms;
}

.menu__btn span {
  margin-top: 2rem;
}

.menu__btn span::before {
  content: "";
  top: -8px;
}

.menu__btn span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 80px 0;
  background-color: rgba(120, 113, 222, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition-duration: 0.25s;
}

.menu__item {
  margin-bottom: 2rem;
  display: block;
  color: #ffffff;
  font-size: 18px;
  display: flex;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  color: #09035d;
}

@media (max-width: 768px) {
  .header__list {
    display: none;
  }
  .header__social {
    display: none;
  }
  .hamburger__menu {
    display: block;
  }
  .burger__social {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
  }
  .burger__social img {
    width: 3rem;
    height: 3rem;
    transition-duration: 300ms;
  }
  .burger__social img:hover {
    transform: scale(1.2);
  }
  .header__main {
    padding-bottom: 5rem;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .header__main-desc {
    max-width: 65.3rem;
    background-color: inherit;
    padding: 1rem 0;
  }
  .header__main--img {
    max-width: 72.8rem;
  }
}
@media (max-width: 480px) {
  .header__main {
    padding-bottom: 3rem;
  }
  .header__main--img {
    max-width: 44em;
  }
  .header__main--text {
    font-size: 2rem;
  }
  .header__main--button {
    width: 100%;
    padding: 2.4rem 3rem;
  }
}
.argument {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.argument__desc {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.argument__desc--item {
  max-width: 19rem;
}
.argument__desc--title {
  text-align: center;
}
.argument__desc--text {
  margin-top: 1rem;
  font-size: 1.8rem;
  text-align: center;
  color: #0F0F10;
}
.argument-main {
  margin-top: 8rem;
}
.argument-main__items {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.argument-main__item {
  width: 28.2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem 2rem 2.8rem 2rem;
  box-shadow: -0.4rem -0.4rem 2rem rgba(120, 113, 222, 0.1), 0.4rem 0.4rem 2rem rgba(120, 113, 222, 0.1);
  border-radius: 0.4rem;
}
.argument-main__item--img {
  width: 6.4rem;
  height: 6.4rem;
}
.argument-main__item--img:hover {
  filter: brightness(10%);
}
.argument-main__item--text {
  font-size: 1.8rem;
  display: flex;
  color: #0F0F10;
}

@media (max-width: 768px) {
  .argument-main__items {
    gap: 2rem;
  }
  .argument-main__item {
    max-width: 16.2rem;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
  }
  .argument-main__item--img {
    width: 6.4rem;
    height: 6.4rem;
  }
  .argument-main__item--text {
    font-size: 1.6rem;
  }
}
@media (max-width: 480px) {
  .argument {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  .argument__desc {
    gap: 2rem;
    flex-wrap: wrap;
  }
  .argument__desc--text {
    font-size: 1.6rem;
  }
  .argument-main {
    margin-top: 6rem;
  }
  .argument-main__items {
    margin-top: 4rem;
  }
  .argument-main__item {
    max-width: 18rem;
  }
  .argument-main__item--text {
    font-size: 1.6rem;
  }
}
.violet-block {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #7871DE;
}

.kinolog__title {
  font-family: "SeoulHangang";
  font-size: 3.6rem;
  line-height: 1;
  color: #FFFFFF;
}
.kinolog__desc {
  margin-top: 4rem;
  margin-left: 10rem;
  display: flex;
}
.kinolog__item--title {
  font-size: 2.4rem;
  color: #9FDB3D;
}
.kinolog__item--text {
  font-size: 1.8rem;
  color: #FFFFFF;
}
.kinolog__item--left {
  max-width: 59.4rem;
  padding-right: 2rem;
}
.kinolog__item--right {
  max-width: 38.6rem;
  padding-right: 2rem;
}

.forms__items {
  display: flex;
  justify-content: center;
  gap: 13.4rem;
}

.form__text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form__text input {
  width: 38.6rem;
  height: 6.4rem;
  padding-left: 2rem;
  border: 0.1rem solid #09035D;
  border-radius: 0.4rem;
  font-weight: 400;
  font-size: 1.6rem;
  color: #7871DE;
}
.form__text input:focus {
  border: 0.2rem solid #9FDB3D;
  color: #0F0F10;
}

.form__check--checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form__check--checkbox + label {
  display: inline-flex;
  align-items: center;
}
.form__check--checkbox + label::before {
  content: "";
  display: inline-block;
  width: 3rem;
  height: 3rem;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #fff;
  margin-top: -1rem;
  margin-right: 1rem;
  border-radius: 0.4rem;
}
.form__check--checkbox:checked + label::before {
  background: url(../image/check-active.svg) 100%;
}
.form__check--text {
  font-size: 1.6rem;
  color: #FFFFFF;
}
.form__check--text span {
  color: #9FDB3D;
}
.form__check--button {
  margin-top: 2.5rem;
}

@media (max-width: 768px) {
  .kinolog__desc {
    margin-left: auto;
    display: flex;
    gap: 2rem;
  }
  .kinolog__item {
    flex-basis: 35.4rem;
  }
  .forms__items {
    gap: 3rem;
  }
}
@media (max-width: 480px) {
  .violet-block {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .kinolog__title {
    font-size: 3rem;
  }
  .kinolog__desc {
    margin-top: 4rem;
    margin-left: auto;
    display: flex;
    flex-direction: column;
  }
  .kinolog__item {
    flex-basis: 9rem;
  }
  .kinolog__item--title {
    font-size: 2rem;
  }
  .kinolog__item--text {
    font-size: 1.6rem;
  }
  .forms__items {
    flex-direction: column;
    align-items: center;
    gap: 2rem 0;
  }
  .form__text input {
    width: 44rem;
  }
  .form__check {
    width: 44rem;
  }
  .form__check--button {
    width: 44rem;
    height: 7rem;
    padding-top: 2rem;
  }
}
.why {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.why__items {
  margin-top: 7rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.why__item {
  max-width: 38.6rem;
  min-height: 40rem;
  padding: 3rem;
  background-color: #FFFFFF;
  box-shadow: -0.4rem -0.4rem 2rem rgba(120, 113, 222, 0.1), 0.4rem 0.4rem 2rem rgba(120, 113, 222, 0.1);
  border-radius: 0.4rem;
  transition-duration: 500ms;
}
.why__item--title {
  font-size: 2.4rem;
  color: #09035D;
}
.why__item span {
  display: block;
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.6rem;
  color: #7871DE;
}
.why__item p {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1.6rem;
  color: #0F0F10;
}
.why__item--right span {
  display: inline;
  margin-top: 0;
}
.why__item:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .why__items {
    margin-top: 4rem;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    position: relative;
  }
  .why__item {
    max-width: 37.4rem;
    max-height: 100%;
    transition-duration: 500ms;
  }
  .why__item span {
    font-size: 2rem;
  }
  .why__item p {
    font-size: 2rem;
  }
  .why__item--left {
    max-height: 24.6rem;
    padding-right: 4rem;
  }
  .why__item--center {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 34rem;
    min-height: 53.3rem;
  }
  .why__item--right {
    max-height: 35.2rem;
  }
  .why__item:hover {
    transform: scale(1.05);
  }
}
@media (max-width: 480px) {
  .why {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  .why__title {
    margin-left: 1.2rem;
  }
  .why__items {
    margin-top: 6rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .why__item {
    min-width: 44rem;
    padding: 3rem;
  }
  .why__item--title {
    font-size: 2.4rem;
  }
  .why__item span {
    font-size: 2rem;
  }
  .why__item p {
    font-size: 2rem;
  }
  .why__item--center {
    position: relative;
  }
}
.stage {
  margin-top: 8rem;
  margin-bottom: 8rem;
  background-image: url(../image/line.webp);
  background-repeat: no-repeat;
  background-position-y: 30rem;
  background-size: contain;
}
.stage__items {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  gap: 12.4rem 5rem;
  flex-wrap: wrap;
}
.stage__item {
  max-width: 28.2rem;
}
.stage__item:nth-child(even) {
  padding-top: 5rem;
}
.stage__item span {
  display: block;
  font-family: "SeoulHangang CBL";
  font-size: 6rem;
  line-height: 1;
  color: #9FDB3D;
}
.stage__item--text {
  margin-top: 3rem;
  font-weight: 600;
  font-size: 1.6rem;
  color: #0F0F10;
}

@media (max-width: 768px) {
  .stage {
    background-repeat: no-repeat;
    background-position-y: 33rem;
    background-position-x: center;
    background-size: 220%;
  }
  .stage__items {
    gap: 11.8rem 2rem;
  }
  .stage__item {
    max-width: 16.7rem;
  }
}
@media (max-width: 480px) {
  .stage {
    margin-top: 6rem;
    margin-bottom: 6rem;
    background-image: none;
  }
  .stage__items {
    margin-top: 4rem;
    gap: 3rem 2rem;
  }
  .stage__item {
    max-width: 21rem;
    padding-right: 1rem;
  }
  .stage__item:nth-child(even) {
    padding-top: 4rem;
  }
}
.reviews {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.reviews__text {
  font-size: 1.8rem;
  color: #0F0F10;
}
.reviews span {
  margin-top: 2rem;
  display: block;
  font-weight: 600;
  font-size: 1.6rem;
  color: #09035D;
}
.reviews__items {
  margin-bottom: 8rem;
}

.learning {
  margin-top: 6rem;
}
.learning__line {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.learning span {
  font-size: 2rem;
  color: #09035D;
}
.learning__command {
  margin-right: 1.5rem;
  font-weight: 600;
  font-size: 1.6rem;
  color: #0F0F10;
}
.learning__img img {
  height: 2rem;
}
.learning__figure {
  margin-left: 3rem;
  font-family: "SeoulHangang";
  font-size: 4rem;
  line-height: 1;
  color: #0F0F10;
}
.learning__spans {
  display: flex;
  justify-content: center;
}

.come {
  margin-left: 8rem;
}

.three {
  margin-left: 15rem;
}

.foo {
  margin-left: 12rem;
}

.stopped {
  margin-right: 10rem;
}

.nearby {
  margin-right: 25rem;
}

.fas {
  margin-right: 25rem;
}

.answers {
  margin: 8rem auto;
}

.accordeon {
  max-width: 802px;
  margin: 3rem auto;
  position: relative;
}
.accordeon h2 {
  font-size: 2.4rem;
  color: #09035D;
  display: block;
  margin: 0;
  cursor: pointer;
}
.accordeon p {
  font-size: 1.8rem;
  color: #0F0F10;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  transform: translate(0, 0);
  margin-top: 1.4rem;
  transition-duration: 500ms;
  z-index: 2;
}
.accordeon ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.accordeon ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 0.4rem;
  padding-top: 1rem;
}
.accordeon ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}
.accordeon ul li i:before,
.accordeon ul li i:after {
  content: "";
  position: absolute;
  background-color: #09035D;
  width: 0.3rem;
  height: 0.9rem;
}
.accordeon ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.accordeon ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.accordeon ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.accordeon ul li input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
.accordeon ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.accordeon ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}