.header {
    padding-top: 4rem;
    background-color: #EDEBFC;
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo img {
        max-width: 11.2rem;
        max-height: 3.2rem;
    }
    & a {
        display: block;
    }
    &__list {
        display: flex;
        gap: 2rem;
        & a {
            color: $deepBlue-color;
            font-size: 1.4rem;
            &:hover {
                color: $darkViolet-color;
            }
        }
    }
}

.social {
    display: flex;
    gap: 0.4rem;
    & a {
        width: 2.4rem;
        height: 2.4rem;
        display: block;
    }
    &__insta {
        background: url(../image/insta.webp) center no-repeat;
        &:hover {
            background: url(../image/insta-hover.webp) center no-repeat;
        }
    }
    &__fb {
        background: url(../image/fb.webp) center no-repeat;
        &:hover {
            background: url(../image/fb-hover.webp) center no-repeat;
        }
    }
    &__vk {
        background: url(../image/vk.webp) center no-repeat;
        &:hover {
            background: url(../image/vk-hover.webp) center no-repeat;
        }
    }
    &__teleg {
        background: url(../image/teleg.webp) center no-repeat;
        &:hover {
            background: url(../image/teleg-hover.webp) center no-repeat;
        }
    }
}

.header__main {
    padding-top: 4rem;
    padding-bottom: 8rem;
    display: flex;
    justify-content: space-between;
    &-desc {
       max-width: 52rem;
       background-color: #fff;
       padding: 7.5rem  3rem 7.5rem 10.4rem;
       border-radius: 20% 0 0;
    }
    &--img {
        max-width: 70rem;
    }
    &--title {
        font-family: 'SeoulHangang';
        font-size: 4.2rem;
        line-height: 1.02;
        color: $deepBlue-color;
        & span {
            color: $darkViolet-color;
        }
    }
    &--text {
        padding-right: 6rem;
        margin-top: 2rem;
        font-size: 1.8rem;
        color: $darkViolet-color;
    }
    &--button {
        margin-top: 3rem;
    }
}

.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #EDEBFC;
    &__copyright {
        font-size: 1.4rem;
        color: $deepBlue-color;
    }
}