.reviews {
    margin-top: 8rem;
    margin-bottom: 8rem;
    &__text {
        font-size: 1.8rem;        
        color: $black-color;
    }
    & span {
        margin-top: 2rem;
        display: block;
        font-weight: 600;
        font-size: 1.6rem;
        color: $deepBlue-color;
    }
    &__items {
        margin-bottom: 8rem;
    }
}

.learning {
    margin-top: 6rem;
    &__line {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }
    & span {
        font-size: 2rem;
        color: $deepBlue-color;
    }
    &__command {
        margin-right: 1.5rem;
        font-weight: 600;
        font-size: 1.6rem;
        color: $black-color;
    }
    &__img img {
        height: 2rem;
    }
    &__figure {
        margin-left: 3rem;
        font-family: 'SeoulHangang';
        font-size: 4rem;
        line-height: 1;
        color: $black-color;
    }
    &__spans {
        display: flex;
        justify-content: center;
    }
}
.come {
 margin-left: 8rem;
}
.three {
    margin-left: 15rem;
}
.foo {
    margin-left: 12rem;
}

.stopped {
    margin-right: 10rem;

}
.nearby {
    margin-right: 25rem;
}
.fas {
    margin-right: 25rem;
}
