.stage {
    margin-top: 8rem;
    margin-bottom: 8rem;
    background-image: url(../image/line.webp);
    background-repeat: no-repeat;
    background-position-y: 30rem;
    background-size: contain;
   
    &__items {
        margin-top: 6rem;
        display: flex;
        justify-content: space-between;
        gap: 12.4rem 5rem;
        flex-wrap: wrap;
      
    }
    &__item {
        max-width: 28.2rem;
        &:nth-child(even) {
            padding-top: 5rem;
        }
        & span {
            display: block;
            font-family: 'SeoulHangang CBL';
            font-size: 6rem;
            line-height: 1;
            color: $lime-color;
        }
        &--text {
            margin-top: 3rem;
            font-weight: 600;
            font-size: 1.6rem;
            color: $black-color;
        }
    }
}

@media (max-width: 768px){
    .stage {
        background-repeat: no-repeat;
        background-position-y: 33rem;
        background-position-x: center;
        background-size: 220%;
        &__items {
            gap: 11.8rem 2rem;
        }
        &__item {
            max-width: 16.7rem;
        }
    }
}


@media (max-width: 480px){
    .stage {
        margin-top: 6rem;
        margin-bottom: 6rem;
        background-image: none;
        &__items {
            margin-top: 4rem;
            gap: 3rem 2rem;
        }
        &__item {
            max-width: 21rem;
            padding-right: 1rem;
            &:nth-child(even) {
                padding-top: 4rem;
            }
        }
    }
}