.why {
    margin-top: 8rem;
    margin-bottom: 8rem;

    &__items {
        margin-top: 7rem;
        display: flex;
        justify-content: space-between;
        gap: 3rem;
    }
    &__item {
        max-width: 38.6rem;
        min-height: 40rem;
        padding: 3rem;
        background-color: #FFFFFF;
        box-shadow: -.4rem -.4rem 2rem rgba(120, 113, 222, 0.1), .4rem .4rem 2rem rgba(120, 113, 222, 0.1);
        border-radius: .4rem;
        &--title {
            font-size: 2.4rem;
            color: $deepBlue-color;
        }
        & span {
            display: block;
            margin-top: 2rem;
            font-weight: 600;
            font-size: 1.6rem;            
            color: $darkViolet-color;
        }
        & p {
            margin-top: 1rem;
            font-weight: 500;
            font-size: 1.6rem; 
            color: $black-color;
        }
        &--right  {
        & span {
            display: inline;
            margin-top: 0;
         }
     }
     transition-duration: 500ms;
     &:hover {
        transform: scale(1.1);
     }
  }
}
